@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --blue: #3332CB;
  --purple: #5A5794;
  --white: #fff;
  --black: #333333;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden;
}

.logo-header {
  width: 8em;
  height: auto;
}

.nav-link {
  color: #ACABC9 !important;
  font-weight: normal;
  font-size: 1em !important;
}

.btn-primary {
  width: 12em;
  height: 3.6em;
  font-size: 1em;
  letter-spacing: 0.2px;
  font-weight: bold;
  border-radius: 42px;
  border-color: 5px rgba(51, 50, 203, 0.5) !important;
  background-color: var(--blue);
}

h1 {
  color: var(--black);
  letter-spacing: 0.3px;
}

p {
  letter-spacing: 0.3px;
  color: #808080;
}

.cta-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h6 {
  letter-spacing: 0.3px;
  color: #C8C7DB;
  font-weight: 500;
}

.title {
  color: var(--black);
  letter-spacing: 0.3px;
}

.videos {
  color: var(--purple) !important;
  width: 12em;
  height: 3.6em;
}

.videos img {
  color: var(--purple) !important;
}

.img {
  width: 100%;
}

.custom-slider {
  -webkit-transition: all .3s linear 0s;
  transition: all .3s linear 0s;
}

.card {
  border: none;
}

:root {
  /* GENERAL FONT */
  --font1: "Titillium Web", sans-serif;
  --font2: 'Roboto', sans-serif;
  /* GENERAL COLOR */
  --bg-col-1: #0059b3;
  --bg-col-2: #dc3545;
  --bg-col-3: #fff;
  --bg-col-4: #024c96;
  --tx-color-1: #fff;
  --tx-color-2: #000;
  --tx-color-3: #0059b3;
  --tx-slider-section-title: #212529;
  --bg-slider-section: rgb(250, 250, 250);
  --bg-slider-card-4: #fff;
  --tx-slider-card-4: #0059b3;
  --tx-button: #fff;
  --bg-button: #0059b3;
}

.custom-slider {
  -webkit-transition: all .3s linear 0s;
  transition: all .3s linear 0s;
}

.custom-slider .swiper-container .card {
  color: var(--tx-slider-card-4);
}

.custom-slider .swiper-container .card :hover {
  background-color: var(--blue);
  color: #ffffff;
  cursor: pointer;
}

.custom-slider .swiper-container .card .card-title {
  line-height: 35px;
  color: var(--tx-slider-card-4);
}

.card {
  border-radius: 22px;
  width: 100%;
}

.heading-stroke2 {
  background-image: url(../assets/stroke.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 13vmax;
}

.alert {
  border-left: 5px solid var(--blue);
}

.title-alert {
  color: #3332CB;
}

.disabled {
  border-left: none;
}

.disabled h5 {
  color: #AAAAAA;
}

.disabled p {
  color: #AAAAAA;
}

.heading-stroke3 {
  background-image: url(../assets/stroke-5.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 6vmax;
}

.accordion-button .collapsed {
  background-color: #0059b3;
}

.accordion {
  background-color: #3332CB !important;
}

.accordion .accordion-item {
  background-color: #3332CB;
  color: #fff;
}

.accordion-button:not(.collapsed) {
  background-color: #3332CB;
  color: #fff;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../assets/close-icon.svg) !important;
  color: #fff;
}

.accordion-button:not(.collapsed)::before {
  background-image: url(../assets/close-icon.svg) !important;
  margin-top: 0px;
}

.accordion-button::after {
  background-image: url(../assets/open-icon.svg);
  margin-top: 10px;
}

.accordion-button:focus {
  background-color: #3332CB;
  color: #fff;
}

.accordion-item:first-of-type .accordion-button {
  border: none;
}

.accordion-item:first-of-type .accordion-button {
  border: none;
}

.accordion-button {
  border: none;
}

.accordion .accordion-item {
  background-color: #3332CB;
}

.section-5 {
  background: linear-gradient(89.24deg, #5554D4 0.74%, rgba(85, 84, 212, 0) 36.42%);
}

.card-slider {
  width: 100%;
}

.carousel-control-next-icon {
  margin-top: 3em;
  background-image: url(../assets/icon-slider-5.svg);
}

.carousel-control-prev-icon {
  margin-top: 3em;
  background-image: url(../assets/icon-slider-5.svg);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.section-with-carousel .swiper-slide figure {
  position: relative;
  overflow: hidden;
}

.section-with-carousel .swiper-slide img {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-with-carousel .swiper-slide figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.section-with-carousel .swiper-slide figcaption svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  fill: white;
  margin-right: 10px;
}

.section-with-carousel .swiper-slide-active figcaption {
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
          transform: none;
}

.section-with-carousel .carousel-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 12px;
  z-index: 1;
}

.section-with-carousel .carousel-controls .carousel-control {
  opacity: 0.25;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.section-with-carousel .carousel-controls .carousel-control:hover {
  opacity: 1;
}

.section-with-carousel .swiper-pagination-bullets {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.section-with-carousel .swiper-pagination-bullets .swiper-pagination-bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: auto;
  background: transparent;
  opacity: 0.5;
  margin: 0 8px;
  border-radius: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.section-with-carousel
.swiper-pagination-bullets
.swiper-pagination-bullet
.line {
  width: 3px;
  height: 3px;
  background: black;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.section-with-carousel
.swiper-pagination-bullets
.swiper-pagination-bullet
.number {
  opacity: 0;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section-with-carousel
.swiper-pagination-bullets
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.section-with-carousel
.swiper-pagination-bullets
.swiper-pagination-bullet.swiper-pagination-bullet-active
.line {
  -webkit-transform: scaleX(8);
          transform: scaleX(8);
}

.section-with-carousel
.swiper-pagination-bullets
.swiper-pagination-bullet.swiper-pagination-bullet-active
.number {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.copyright .col-auto:not(:last-child) {
  position: relative;
}

.copyright .col-auto:not(:last-child)::before {
  content: "•";
  position: absolute;
  top: 50%;
  right: -2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

:root {
  --blue: #3332CB;
  --purple: #5A5794;
  --white: #fff;
  --black: #333333;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url(../assets/bg-left.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 30vmax;
}

.heading-stroke-1 span {
  background-image: url(../assets/stroke.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 16vmax;
}

.btn img {
  width: 1.2em;
}

.responsif-img {
  background-color: #fff;
  background-image: url(../assets/bg-hero-responsif.png);
  background-size: contain;
  height: 420px;
  background-position: top right;
  background-repeat: no-repeat;
}

.costum-slider {
  margin-top: 5em !important;
}

.hero-4 {
  width: 80%;
  display: none;
}

.when-responsif-hero-4 {
  display: block;
  width: 80%;
}

.hero-5 {
  display: none;
  width: 100%;
}

.when-responsif-hero-5 {
  display: block;
  width: 80%;
}

.section-5-img {
  width: 100%;
}

@media (min-width: 576px) {
  body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../assets/bg-left.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 30vmax;
  }
  .heading-stroke-1 span {
    background-image: url(../assets/stroke.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 16vmax;
  }
  .btn img {
    width: 1.3em;
  }
  .responsif-img {
    background-color: #fff;
    background-image: url(../assets/bg-hero-responsif.png);
    background-size: contain;
    height: 500px;
    background-position: top right;
    background-repeat: no-repeat;
  }
  .costum-slider {
    margin-top: 5em !important;
  }
  .hero-4 {
    width: 80%;
    display: none;
  }
  .when-responsif-hero-4 {
    display: block;
    width: 80%;
  }
  .hero-5 {
    display: none;
    width: 100%;
  }
  .when-responsif-hero-5 {
    display: block;
    width: 80%;
  }
}

@media (min-width: 768px) {
  body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../assets/bg-left.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 30vmax;
  }
  .heading-stroke-1 span {
    background-image: url(../assets/stroke.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 16vmax;
  }
  .btn img {
    width: 1.6em;
  }
  .responsif-img {
    background-color: #fff;
    background-image: url(../assets/bg-hero-ipad.png);
    background-size: contain;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .costum-slider {
    margin-top: 6em !important;
  }
  .hero-4 {
    width: 80%;
    display: none;
  }
  .when-responsif-hero-4 {
    display: block;
    width: 80%;
  }
  .hero-5 {
    display: none;
    width: 100%;
  }
  .when-responsif-hero-5 {
    display: block;
    width: 80%;
  }
}

@media (min-width: 992px) {
  body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../assets/bg-hero.png), url(../assets/bg-left.png);
    background-position: top right , top left;
    background-repeat: no-repeat;
    background-size: 40vmax , 30vmax;
  }
  .heading-stroke-1 span {
    background-image: url(../assets/stroke.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 16vmax;
  }
  .btn img {
    width: 2em;
  }
  .responsif-img {
    display: none;
  }
  .costum-slider {
    margin-top: 15em !important;
  }
  .hero-4 {
    width: 100%;
    display: block;
  }
  .when-responsif-hero-4 {
    display: none;
  }
  .hero-5 {
    display: block;
    width: 100%;
  }
  .when-responsif-hero-5 {
    display: none;
  }
}

@media (min-width: 1200px) {
  body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../assets/bg-hero.png), url(../assets/bg-left.png);
    background-position: top right , top left;
    background-repeat: no-repeat;
    background-size: 40vmax , 30vmax;
  }
  .heading-stroke-1 span {
    background-image: url(../assets/stroke.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 16vmax;
  }
  .btn img {
    width: 2em;
  }
  .responsif-img {
    display: none;
  }
  .costum-slider {
    margin-top: 10em !important;
  }
  .hero-4 {
    width: 100%;
    display: block;
  }
  .when-responsif-hero-4 {
    display: none;
  }
  .hero-5 {
    display: block;
    width: 100%;
  }
  .when-responsif-hero-5 {
    display: none;
  }
}

@media (min-width: 1400px) {
  body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../assets/bg-hero.png), url(../assets/bg-left.png);
    background-position: top right , top left;
    background-repeat: no-repeat;
    background-size: 40vmax , 30vmax;
  }
  .heading-stroke-1 span {
    background-image: url(../assets/stroke.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 16vmax;
  }
  .btn img {
    width: 2em;
  }
  .responsif-img {
    display: none;
  }
  .costum-slider {
    margin-top: 15em !important;
  }
  .hero-4 {
    width: 100%;
    display: block;
  }
  .when-responsif-hero-4 {
    display: none;
  }
  .hero-5 {
    display: block;
    width: 100%;
  }
  .when-responsif-hero-5 {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */